/* Загальні стилі, які залишаються незмінними на всіх пристроях */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding: 40px 16px;
  max-width: 960px;
  margin: 0 auto;
}

/* Header */
.hdr {
  background-color: #fff;
  min-height: 60px;
}

.hdr-nav {
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.logo {
  display: block;
  border-radius: 50%;
}

.nav-list {
  display: flex;
}

.contact-logo {
  display: block;
  width: 32px;
  margin: 8px;
}

/* Main page */
.main-page {
  background-color: #fafafc;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 600px;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 180px;
  padding-bottom: 180px;
  content: "";
  background-image: url(../img/e-polis2.jpg);

  position: relative;
  background-size: cover;
  background-position: center;
}

.banner-btn {
  all: initial;
  margin: 8px;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  background-color: rgba(43, 43, 197, 0.7);
  color: #fdfbfb;
  font-size: 36px;
  text-align: center;
}

.accordion {
  margin: 0 auto;
}

.accordion-item {
  margin: 5px;
  border: 1px solid #f8f7f7;
  border-radius: 6px;
  background-color: #fff;
}

.accordion-header {
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 6px;
  margin: 0;
}

.about {
  background-color: #e4e3e3;
}

.accordion-content {
  display: none;
  padding: 8px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-list-title {
  margin-top: 12px;
  text-align: center;
}

.about-list-item {
  border-radius: 8px;
  min-width: 120px;
  max-width: 200px;
  margin: 8px;
  padding: 28px 8px 0px 8px;
  background-color: #f1f1f1;
}

.about-icon {
  display: block;
  margin: 0 auto;
}

.about-list-heading {
  text-align: center;
}

.article {
  border: 1px solid #000000;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  background-color: #fff;
}

.partners {
  background-color: #e6e3e3;
  text-align: center;
}

.partner-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #e6e3e3;
}

.partner-list-item {
  margin: 8px;
  padding: 8px;
  background-color: #fff;
  border-radius: 8px;
}

/* Footer */
.ftr {
  height: 250px;
  background-color: #1a1515;
}

.about-title {
  text-align: center;
}

/* Медіазапит для пристроїв з меншими екранами, наприклад, мобільних телефонів */
@media (max-width: 768px) {
  .container {
    padding: 20px 16px;
  }

  .hdr {
    height: 40px;
  }

  .hdr-nav {
    max-width: 100%;
  }

  .banner-btn {
    font-size: 24px;
  }

  .accordion {
    margin: 0 auto;
    width: 100%;
  }

  .accordion-item {
    margin: 3px;
  }

  .about-list-item {
    min-width: 100px;
    max-width: 150px;
    padding-top: 20px;
  }
}
